.md {
	line-height: 1.8;
	text-align: justify;

	&.serif {
		font-family: var(--font_serif);

		:global {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-weight: 600;
			}
		}
	}

	:global {
		::selection {
			color: var(--color_bg);
			background-color: var(--color_text);
		}

		.md_block {
			padding-inline-start: var(--editor_padding_x);
			padding-inline-end: var(--editor_padding_x);
			margin-block-start: 0;
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: 0;
			margin-inline-end: 0;
		}

		p {
			padding-inline-start: var(--editor_padding_x);
			padding-inline-end: var(--editor_padding_x);
			margin-block-start: 0;
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: 0;
			margin-inline-end: 0;
		}

		a {
			color: var(--color_text_sub);
			text-decoration: underline;
			text-underline-offset: 2px;

			&:hover {
				color: var(--color_blue);
				text-decoration: underline;
			}
		}

		.heading {
			.anchor {
				left: -0.9em;
				opacity: 0;
				color: var(--color_text_sub);
				transition: opacity ease 0.3s;
				text-decoration: none;
			}
		}

		h1 {
			font-size: 1.8em;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: var(--color_text);
			font-weight: 500;
		}

		h1,
		h2 {
			margin-block-start: 1.8em;
			margin-block-end: 0.9em;
		}

		h3,
		h4,
		h5,
		h6 {
			margin-block-start: 1.2em;
			margin-block-end: 1em;
		}

		ul,
		ol {
			padding-inline-start: 12px;
			margin-block-end: var(--editor_padding_y);

			::marker {
				color: var(--color_text_sublight);
			}

			li {
				margin-block-start: 0.36em;
				margin-block-end: 0.36em;

				p {
					margin-block-start: 0;
					margin-block-end: 0;
				}
			}
		}

		ul {
			list-style-type: disc;
		}

		.contains-task-list {
			padding-inline-start: 0;
			list-style: none;

			.task-list-item {
				& > input {
					margin: 0;
					margin-right: 3px;
					transform: translateY(0.81px);
					padding-block: 0;
					padding-inline: 0;
				}
			}
		}

		blockquote {
			line-height: 1.5;
			box-sizing: border-box;
			padding-left: 18px;
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: var(--editor_padding_x);
			margin-inline-end: var(--editor_padding_x);
			border-left: 3.6px solid var(--color_border_light);
			font-size: 0.9em;
		}

		video {
			width: 100%;
			max-width: 100%;
			border-radius: var(--radius);
		}

		img {
			max-width: 100%;
			border-radius: var(--radius_small);
		}

		figure {
			padding-inline-start: var(--editor_padding_x);
			padding-inline-end: var(--editor_padding_x);
			margin-block-start: 0;
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: 0;
			margin-inline-end: 0;

			figcaption {
				color: var(--color_text_light);
				text-align: center;
				font-size: 0.72em;
			}
		}

		code {
			display: inline;
			margin: 0 3px;
			word-break: break-word;
			font-family: var(--font_mono);
			font-size: 0.78em;

			&::before {
				content: "`";
			}

			&::after {
				content: "`";
			}
		}

		table {
			display: block;
			overflow: auto;
			width: 100%;
			padding-inline-start: var(--editor_padding_x);
			padding-inline-end: var(--editor_padding_x);
			margin-block-start: 0;
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: 0;
			margin-inline-end: 0;
			border-spacing: 0;
			border-collapse: collapse;

			th,
			td {
				border-bottom: 1px solid var(--color_text);

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}

			thead {
				th {
					padding: 0 12px;
					padding-bottom: 3px;
					white-space: nowrap;
					font-weight: bold;
				}
			}

			tbody {
				tr {
					td {
						padding: 3px 12px;
						vertical-align: top;
					}
				}
			}
		}

		strong {
			font-weight: 500;
		}

		hr {
			width: 100%;
			height: 1px;
			border: none;
			background-color: var(--color_border_light);
		}

		.math_wrap {
			&.inline {
				.katex {
					font-size: 1em;
				}
			}
		}

		.footnotes {
			ol {
				font-size: 0.72em;
			}
		}
	}
}

.callout {
	:global {
		[data-callout="note"] {
			--rc-color-light: var(--callout-note-color-light, rgb(142, 150, 170));
			--rc-color-dark: var(--callout-note-color-dark, rgb(101, 117, 133));
		}

		[data-callout="tip"] {
			--rc-color-light: var(--callout-tip-color-light, rgb(100, 108, 255));
			--rc-color-dark: var(--callout-tip-color-dark, rgb(100, 108, 255));
		}

		[data-callout="important"] {
			--rc-color-light: var(--callout-important-color-light, rgb(159, 122, 234));
			--rc-color-dark: var(--callout-important-color-dark, rgb(159, 122, 234));
		}

		[data-callout="warning"] {
			--rc-color-light: var(--callout-warning-color-light, rgb(234, 179, 8));
			--rc-color-dark: var(--callout-warning-color-dark, rgb(234, 179, 8));
		}

		[data-callout="caution"] {
			--rc-color-light: var(--callout-caution-color-light, rgb(244, 63, 94));
			--rc-color-dark: var(--callout-caution-color-dark, rgb(244, 63, 94));
		}

		.callout {
			--rc-color-default: #888;
			width: 100%;
			line-height: 1.5;
			box-sizing: border-box;
			padding: 0 18px;
			margin-block-start: 0;
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: 0;
			margin-inline-end: 0;
			border-left: 3.6px solid rgb(from var(--rc-color-light, var(--rc-color-default)) r g b / 0.6);
			font-size: 0.72em;

			&[data-collapsible="false"] {
				padding-top: 6px;
			}

			&[data-collapsible="true"] {
				& > .callout-title {
					.callout-fold-icon {
						svg {
							transition: transform 100ms ease-in-out;
							transform: rotate(-90deg);
						}
					}
				}

				&[open] {
					padding-top: 6px;

					& > .callout-title {
						.callout-fold-icon {
							svg {
								transform: none;
							}
						}
					}
				}
			}

			.callout-title {
				display: flex;
				align-items: center;
				line-height: 1;
				margin-bottom: 0;
				gap: 6px;

				&::-webkit-details-marker {
					display: none;
				}

				.callout-title-icon {
					display: flex;
					align-items: center;

					svg {
						margin-top: -2.4px;
					}
				}

				.callout-title-text {
					vertical-align: bottom;
					font-weight: 600;
				}

				.callout-fold-icon {
					display: flex;
					align-items: center;
				}

				.callout-title-icon svg,
				.callout-fold-icon svg {
					width: 1em;
					height: 1em;
					stroke-width: 2.1;
				}
			}

			.callout-content {
				padding-top: 12px;

				p {
					margin-block-end: 0;
				}
			}
		}

		.dark {
			.callout {
				background-color: rgb(from var(--rc-color-dark, var(--rc-color-default)) r g b / 0.16);
			}
		}
	}
}
