.ani-modal {
	&.ani-modal-confirm {
		border-radius: var(--radius);
		background-color: var(--bg_modal);
		backdrop-filter: var(--glass_blur);

		&.danger {
			outline: 2px solid var(--color_text);

			.ani-btn {
				outline: 1px solid var(--color_text);
			}

			.ani-btn-primary {
				background-color: var(--color_danger);
			}
		}

		.ani-modal-content {
			background-color: unset;

			.ani-modal-close {
				top: 21px;
				right: 20px;
				width: 20px;
				height: 20px;
				border-radius: 50%;

				.ani-modal-close-x {
					font-size: 12px;
				}
			}

			.ani-modal-confirm-body-has-title {
				.ani-icon {
					position: absolute;
					margin-top: 3.6px;
					margin-right: 10px;
					font-size: 14px;
				}

				.ani-modal-confirm-paragraph {
					max-width: 100%;
					gap: 12px;

					.ani-modal-confirm-title {
						padding-left: 21px;
						font-size: 14px;
						font-weight: 500;
					}
				}
			}
		}
	}
}
