[data-theme='dark'] {
	&:not([data-glass='1']) {
		.ani-popover {
			.ani-popover-arrow {
				&::before,
				&::after {
					background-color: rgba(var(--color_contrast_rgb), 0.03);
				}
			}
		}
	}
}

[data-glass='1'] {
	.ani-popover {
		.ani-popover-arrow {
			&::before,
			&::after {
				background-color: rgba(var(--color_bg_1_rgb), 1);
			}
		}
	}
}

.ani-popover {
	border-radius: var(--radius);
	backdrop-filter: var(--glass_blur);

	.ani-popover-arrow {
		&::before,
		&::after {
			background-color: rgba(var(--color_bg_1_rgb), 0.48);
		}
	}
}
