._local {
	:global {
		.section_header {
			margin-bottom: 16px;

			.setting_title {
				margin-bottom: 0;
			}

			.counts {
				line-height: 1;
				padding: 2px 6px;
				margin-left: 6px;
				border-radius: 12px;
				color: var(--color_text_greylight);
				background-color: var(--bg_card);
				font-size: 12px;
			}
		}

		.right_wrap {
			gap: 8px;

			.btn_add {
				width: 24px;
				height: 24px;
				border-radius: var(--radius);
				color: var(--color_text_greylight);
				background-color: var(--bg_card);

				&:hover {
					color: var(--color_text);
				}
			}

			.type_wrap {
				padding: 3px 4px;
				border-radius: var(--radius);
				background-color: var(--bg_card);
				gap: 4px;

				.btn_type {
					width: 18px;
					height: 18px;
					opacity: 0.3;
					font-size: 16px;

					&.active {
						opacity: 1;
					}
				}
			}
		}

		.providers_wrap {
			&.scroll {
				.providers {
					overflow-x: scroll;

					.react-horizontal-scrolling-menu--scroll-container {
						gap: 12px;
					}

					.provider {
						width: 90px;
						height: 120px;
						border: 1px solid transparent;

						&.active {
							border: 1px solid var(--color_text);
						}
					}
				}
			}

			.providers {
				gap: 8px;

				&.list {
					gap: 4px;

					.provider {
						align-items: center;
						flex-direction: row;
						width: 100%;
						padding: 9px 12px;

						&.active {
							margin-top: 8px;
							border-top: 1px solid var(--color_text);
						}

						.icon_wrap {
							font-size: 18px;
						}

						.name {
							flex-direction: row;
							font-size: 14px;
							gap: 4px;
						}

						.switch {
							top: unset;
							right: 12px;
						}
					}
				}

				&.grid {
					.provider {
						&:hover {
							.switch {
								z-index: 10;
								opacity: 1;
							}
						}

						&.enabled {
							&::after {
								position: absolute;
								z-index: 1;
								top: 6px;
								right: 6px;
								width: 6px;
								height: 6px;
								border-radius: 50%;
								background-color: var(--color_success);
								content: '';
							}
						}

						.switch {
							top: 6px;
							right: 6px;
							opacity: 0;
						}
					}
				}

				.provider_wrap {
					&:first-child {
						.provider {
							&.active {
								margin-top: unset;
							}
						}
					}
				}

				.provider {
					width: calc((100% - 32px) / 5);
					padding: 18px;
					border-top: 1px solid transparent;
					border-radius: var(--radius);
					background-color: var(--bg_card);
					user-select: none;
					transition:
						0.3s ease border,
						0.3s ease width,
						0.3s ease outline,
						0.3s ease margin;
					gap: 12px;

					.icon_wrap {
						font-size: 36px;
					}

					.name {
						text-transform: capitalize;
						font-family: var(--font_serif);
						font-size: 12px;
						font-weight: 500;
					}
				}
			}
		}

		.provider_form {
			padding-top: 0;
			margin-top: 12px;
			margin-bottom: 30px;
		}
	}
}
