._local {
	border-radius: var(--radius);
	background-color: var(--bg_card);

	:global {
		.form_header {
			padding: 6px 12px;
			border-bottom: var(--border_soft);
		}

		.form_body {
			padding: 12px 18px;

			.enabled_item {
				top: 3px;
				right: 12px;
			}

			.ani-form-item {
				margin-bottom: 12px;
			}

			.header_wrap {
				padding: 6px 0;

				.name {
					font-weight: 500;
				}
			}

			.items_wrap {
				padding: 12px 18px;
				border: var(--border_soft);
				border-radius: var(--radius);
			}
		}
	}
}
