.modal {
	flex-direction: row;
	width: 81vw !important;
	max-width: 840px;
	height: 81vh;
	min-height: unset;
	max-height: 600px !important;
	padding: 0 !important;

	:global {
		.btn_toggle_menu {
			z-index: 10;
			top: 12px;
			left: 12px;
			width: 24px;
			height: 24px;
			border-radius: var(--radius_3);
			background-color: var(--color_bg);

			&:hover {
				background-color: var(--color_bg_2);
			}
		}
	}
}

.modal_body {
	flex-direction: row;
	max-height: unset !important;
	padding: 0 !important;
}

@media (max-width: 930px) {
	.modal {
		width: calc(100vw - 96px) !important;
	}
}

@media (max-width: 840px) {
	.modal {
		width: calc(100vw - 60px) !important;
	}
}

@media (max-height: 600px) {
	.modal {
		height: calc(100vh - 60px);
	}
}

.menu {
	overflow-y: scroll;
	width: 180px;
	border-right: 1px dashed var(--color_border_light);
	font-size: 13px;

	:global {
		.menu_items {
			padding: 12px;

			.divider {
				width: calc(100% - 12px);
				margin-top: 4px;
				margin-bottom: 4px;
				margin-left: 6px;
				border-bottom: 1px dashed var(--color_border_light);
			}

			.menu_item {
				height: 32px;
				line-height: 1;
				padding: 0 6px;
				border: none;
				border-radius: var(--radius);
				outline: none;
				opacity: 0.6;
				background-color: transparent;
				box-shadow: none;
				gap: 6px;

				&:hover,
				&.active {
					opacity: 1;
				}

				&.active {
					background-color: var(--color_bg_2);
					font-weight: 500;
				}

				.new_version {
					right: 6px;
					height: 14px;
					padding: 0 4px;
					border-radius: 8px;
					color: white;
					background-color: rgba(var(--color_danger_rgb), 0.72);
					font-size: 9px;

					.icon {
						margin-right: 3px;
					}
				}
			}
		}
	}
}

@media (max-width: 840px) {
	.menu {
		width: 180px;
		border-right: unset;
	}
}

.menu_drawer {
	:global {
		.ani-drawer-content-wrapper {
			padding: 0;

			.ani-drawer-content {
				border-radius: 0;
				box-shadow: var(--shadow);

				.ani-drawer-body {
					padding: 0;
				}
			}
		}
	}
}

.menu_drawer_mask {
	background-color: transparent !important;
}

._local {
	width: calc(100% - 180px);

	:global {
		.ani-tabs {
			height: 100%;

			.ani-tabs-content-holder {
				height: 100%;

				.ani-tabs-content {
					height: 100%;

					.ani-tabs-tabpane {
						overflow-y: scroll;
						height: 100%;
						padding: 24px 30px 60px;
					}
				}
			}
		}

		.setting_title {
			display: flex;
			line-height: 1;
			margin-bottom: 8px;
			font-size: 16px;
			font-weight: 500;
		}

		.setting_items {
			padding: 6px 0;
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 840px) {
	._local {
		width: 100%;

		:global {
			.ani-tabs {
				.ani-tabs-content-holder {
					.ani-tabs-content {
						.ani-tabs-tabpane {
							padding-right: 36px;
							padding-left: 36px;
						}
					}
				}
			}
		}
	}
}
