.menu {
	overflow-y: scroll;
	width: 162px;
	padding-bottom: 72px;

	:global {
		.menu_items {
			padding: 6px;
			gap: 2px;

			.divider {
				width: 100%;
				margin-top: 4px;
				margin-bottom: 4px;
				border-bottom: var(--border_soft);
			}

			.menu_item {
				height: 30px;
				line-height: 1;
				padding: 0 8px;
				border-top-left-radius: var(--radius);
				border-top-right-radius: 15px;
				border-bottom-right-radius: 15px;
				border-bottom-left-radius: var(--radius);
				opacity: 0.6;
				gap: 8px;

				&:hover,
				&.active {
					opacity: 1;
				}

				&.active {
					opacity: 1;

					&::before {
						position: absolute;
						right: 12px;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background-color: var(--color_text);
						content: '';
					}
				}

				.new_version {
					right: 6px;
					height: 14px;
					padding: 0 4px;
					border-radius: 8px;
					color: white;
					background-color: rgba(var(--color_danger_rgb), 0.72);
					font-size: 9px;

					.icon {
						margin-right: 3px;
					}
				}
			}
		}
	}
}

.menu_drawer {
	outline: none;

	.menu {
		background-color: unset;

		:global {
			.menu_items {
				.menu_item {
					border-radius: 0;
				}
			}
		}
	}

	:global {
		.ani-drawer-content-wrapper {
			padding: 0;
			background-color: var(--color_bg_2);

			.ani-drawer-content {
				border-radius: 0;
				box-shadow: var(--shadow);

				.ani-drawer-body {
					padding: 0;
				}
			}
		}
	}
}

[data-glass='1'] {
	.menu_drawer_mask {
		background-color: rgba(var(--color_bg_rgb), 0.72) !important;
	}
}

.menu_drawer_mask {
	background-color: transparent !important;
}

.modal {
	flex-direction: row;
	width: 81vw !important;
	max-width: 840px;
	height: 81vh;
	min-height: unset;
	max-height: 600px !important;
	padding: 0 !important;

	:global {
		.btn_toggle_menu {
			z-index: 10;
			top: 12px;
			left: 12px;
			width: 24px;
			height: 24px;
			border-radius: var(--radius_3);
			background-color: var(--bg_component);

			&:hover {
				background-color: var(--bg_hover);
			}
		}
	}
}

.modal_body {
	flex-direction: row;
	max-height: unset !important;
	padding: 0 !important;
}

.tabs_wrap {
	width: calc(100% - 162px);

	:global {
		.ani-tabs {
			height: 100%;

			.ani-tabs-content-holder {
				height: 100%;

				.ani-tabs-content {
					height: 100%;

					.ani-tabs-tabpane {
						overflow-y: scroll;
						height: 100%;
						padding: 18px 18px 60px;
					}
				}
			}
		}

		.setting_title {
			display: flex;
			line-height: 1;
			margin-bottom: 8px;
			font-size: 16px;
			font-weight: 500;
		}

		.setting_items {
			padding: 6px 0;
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 840px) {
	.menu {
		width: 162px;
	}

	.modal {
		width: calc(100vw - 36px) !important;
	}

	.tabs_wrap {
		width: 100%;

		:global {
			.ani-tabs {
				.ani-tabs-content-holder {
					.ani-tabs-content {
						.ani-tabs-tabpane {
							padding-right: 48px;
							padding-left: 48px;
						}
					}
				}
			}
		}
	}
}
