._local {
	max-width: var(--content_width);
	padding: 36px;
	padding-top: 18px;
	margin: 0 auto;
	font-family: var(--font_serif);

	:global {
		.hello {
			margin: 0;
			margin-bottom: 12px;
			color: var(--color_text_light);
			text-align: center;
			font-size: 36px;
			font-weight: 400;
		}

		.section_title_wrap {
			margin-top: 30px;
			margin-bottom: 12px;

			.section_title {
				margin: 0;
				font-size: 14px;
				font-weight: 500;
			}

			.btn_action {
				width: 20px;
				height: 20px;
				border-radius: var(--radius_4);
				font-size: 16px;
			}
		}

		.role_items {
			gap: 12px;

			.role_item {
				flex: 1;
				padding: 8px 12px;
				border-radius: var(--radius);
				background-color: var(--bg_component);
				gap: 4px;

				.icon_wrap {
					padding-top: 3px;
					font-size: 21px;
				}
			}
		}
	}
}
