:root {
	--line_height: 1.62;
	--color_warning: #ff8f00;
	--color_warning_rgb: 255, 143, 0;
	--color_success: #00c853;
	--color_success_rgb: 0, 200, 83;
	--color_danger: #ff1744;
	--color_danger_rgb: 255, 23, 68;
	--color_lime: #aeea00;
	--color_lime_rgb: 174, 234, 0;
	--color_purple: #ab47bc;
	--color_purple_rgb: 171, 71, 188;
	--color_gold: #e6ba2a;
	--color_gold_rgb: 230, 186, 42;
	--color_bg_blur: rgba(var(--color_bg_rgb), 0.48);
}
