._local {
	outline: none;

	:global {
		.header_wrap {
			margin-bottom: 12px;

			.ani-popover-inner {
				padding: 16px !important;
			}

			.header_btn_wrap {
				height: 30px;
				line-height: 30px;
				padding: 0 12px;
				border: var(--border);
				border-radius: var(--radius);
				outline: none;
				background-color: unset;
				box-shadow: none;
				transition: all ease 0.3s;

				&:hover {
					border-color: var(--color_text);
				}

				.icon {
					font-size: 16px;
				}

				.label {
					margin-right: 6px;
					margin-left: 4px;
					font-weight: 500;
				}

				.counts {
					height: 16px;
					padding: 0 4.8px;
					border-radius: var(--radius_small_0);
					background-color: var(--color_bg_1);
					font-size: 12px;
				}
			}

			.popover_wrap {
				&.sort_popover {
					width: 360px;
				}

				.title {
					line-height: 1;
					font-size: 16px;
					font-weight: 500;
				}

				.desc {
					margin-top: 3px;
					color: var(--color_text_greylight);
				}

				.form_list_items {
					gap: 8px;

					.form_list_item {
						margin-bottom: 0;
						gap: 8px;

						&:first-child {
							margin-top: 16px;
						}

						.ani-form-item {
							margin-bottom: 0;
						}

						.field_name {
							flex: 1;
						}

						.sort_value {
							width: 96px;
						}

						.btn {
							width: 30px;
							padding: 0;
							font-size: 16px;
						}
					}
				}

				.form_list_actions {
					margin-top: 8px;
					gap: 8px;

					&.has_items {
						margin-top: 16px;
					}
				}
			}
		}

		.table_loading_wrap {
			z-index: 101;
			min-height: 300px;
			background-color: rgba(var(--color_std_rgb), 0.9);
		}

		.table_wrap {
			overflow-x: auto;
			width: 100%;
			border-spacing: 0;
			border-collapse: separate;

			th,
			td {
				box-sizing: border-box;
				padding: 0px 8px;
				border-bottom: var(--border);

				&:first-child {
					padding-left: 12px;
					border-left: var(--border);
				}

				&:last-child {
					padding-left: 12px;
					border-right: var(--border);
				}
			}

			thead {
				tr {
					&:first-child {
						th {
							&:first-child {
								border-top-left-radius: var(--radius);
							}

							&:last-child {
								border-top-right-radius: var(--radius);
							}
						}
					}

					&.selected {
						th {
							border-bottom-color: var(--color_text);
						}
					}

					th {
						position: sticky;
						z-index: 101;
						top: 0;
						height: 40px;
						border-top: var(--border);
						background-color: var(--color_bg);
						text-align: left;
						white-space: nowrap;
						font-weight: 500;

						&.sort {
							&:hover {
								background-color: var(--color_bg_1);
							}

							&:active {
								background-color: var(--color_bg_2);
							}
						}

						.table_sort {
							display: inline-flex;
							margin-left: 6px;
							color: var(--color_text_greylight);
							font-size: 10px;

							&.order {
								.asc,
								.desc {
									margin: 0;
								}
							}

							.asc {
								margin-bottom: -2px;
							}

							.desc {
								margin-top: -2px;
							}
						}
					}
				}
			}

			tbody {
				tr {
					&:last-child {
						td {
							&:first-child {
								border-bottom-left-radius: var(--radius);
							}

							&:last-child {
								border-bottom-right-radius: var(--radius);
							}

							&.selected {
								border-bottom-color: var(--color_text);
							}
						}
					}

					&:hover {
						td {
							background-color: var(--color_bg_1);

							&.operation {
								background-color: var(--color_bg_1);
							}
						}
					}

					&.selected,
					&.selected_prev {
						td {
							border-bottom-color: var(--color_text);
						}
					}

					&.selected {
						td {
							&:first-child {
								border-left: 1px solid var(--color_text);
							}

							&:last-child {
								border-right: 1px solid var(--color_text);
							}
						}
					}

					td {
						height: 48px;
						white-space: nowrap;

						&.operation {
							position: sticky;
							z-index: 100;
							right: 0;
							background-color: var(--color_bg);
						}
					}
				}
			}
		}
	}
}

.Pagination {
	:global {
		.if-pagination-options {
			.if-select {
				.if-select-dropdown {
					border: var(--border);
					box-shadow: none;
				}
			}
		}
	}
}

.Detail {
	padding: 18px !important;

	:global {
		.ani-form-item {
			margin-bottom: 18px;

			&-label {
				font-weight: 500;
			}
		}

		.ani-picker {
			height: 32px;
			line-height: 32px;
		}

		.actions_wrap {
			padding: 9px 0;

			background-color: var(--color_bg);
			gap: 12px;
		}
	}
}
