._local {
	:global {
		.textarea {
			min-height: 72px;
			line-height: var(--line_height);
			border: none;
			border-radius: unset;
			outline: unset;
			background-color: unset;
			resize: none;
			font-family: var(--font_serif);
			font-size: 14px;
			field-sizing: content;
		}
	}
}
