._local {
	:global {
		.nav_bar_item_wrap {
			position: relative;
			line-height: 1;
			padding: 0 12px;
			border-right: var(--border_glass);
			background-color: var(--bg);

			&:hover {
				.icon_module_wrap {
					display: none;
				}

				.btn_remove {
					display: flex;
					color: rgba(var(--color_text_rgb), 0.72);
				}
			}

			&.active {
				z-index: 1;

				.nav_bar_item {
					opacity: 1;
				}

				.icon_module_wrap {
					display: none;
				}

				.btn_remove {
					display: flex;
				}
			}

			&.isDragging {
				opacity: 0;
			}

			&.drag_overlay {
				height: 32px;
				border: 1px solid var(--color_text);
				border-radius: var(--radius);
				background-color: var(--bg_component);
			}

			&.is_focus {
				.btn_remove {
					color: rgba(var(--color_text_rgb), 0.72);
				}
			}

			.nav_bar_item {
				opacity: 0.6;
				font-size: 12px;
				gap: 6px;

				.icon_wrap {
					margin-bottom: -1px;
				}

				.name_wrap {
					overflow: scroll;
					max-width: 90px;
					line-height: 16px;
					outline: none;
				}
			}

			.icon_module_wrap {
				display: flex;
				width: 18px;
				height: 18px;
			}

			.btn_remove {
				display: none;
				width: 16px;
				height: 16px;
				border-radius: var(--radius_3);
				color: rgba(var(--color_text_rgb), 0.3);
			}
		}
	}
}
