._local {
	:global {
		.nav_bar_item_wrap {
			position: relative;
			line-height: 1;
			padding: 0 10px;
			border-right: var(--border_glass);
			background-color: var(--bg);

			&:hover {
				.btn_remove {
					opacity: 1;
				}
			}

			&.active {
				z-index: 1;

				.nav_bar_item {
					opacity: 1;
				}

				.btn_remove {
					opacity: 1;
				}
			}

			&.isDragging {
				opacity: 0;
			}

			&.drag_overlay {
				height: 32px;
				border: 1px solid var(--color_text);
				border-radius: var(--radius);
				background-color: var(--color_bg_1);
				backdrop-filter: var(--glass_blur);
			}

			&.is_focus {
				.btn_remove {
					color: rgba(var(--color_text_rgb), 0.72);
				}
			}

			.nav_bar_item {
				opacity: 0.6;
				font-size: 12px;

				.icon_wrap {
					margin-bottom: -1px;
				}

				.name_wrap {
					overflow: scroll;
					max-width: 90px;
					line-height: 16px;
					margin-right: 4px;
					margin-left: 6px;
					outline: none;
				}
			}

			.btn_remove {
				width: 16px;
				height: 16px;
				border-radius: var(--radius_3);
				opacity: 0;
				color: rgba(var(--color_text_rgb), 0.48);
			}
		}
	}
}
