._local {
	:global {
		.row_item_wrap {
			padding: 12px 18px;
			margin-bottom: 4px;
			border-radius: var(--radius);
			background-color: var(--bg_component);

			.row_item {
				.key_bindings {
					.key {
						padding: 0px 4px;
						border: 1px solid var(--color_border);
						border-bottom-width: 2px;
						border-radius: var(--radius_4);
						background-color: var(--bg_component);
						font-size: 10px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
