._local {
	:global {
		.header_wrap {
			.setting_title {
				margin-bottom: 0;
			}

			.ani-tabs {
				.ani-tabs-nav {
					margin-bottom: 0;

					&::before {
						display: none;
					}
				}

				.ani-tabs-nav-wrap {
					.ani-tabs-nav-list {
						.ani-tabs-tab {
							padding-bottom: 0;
							opacity: 0.48;
							user-select: none;
							transition:
								opacity ease 0.3s,
								scale ease 0.3s;

							&:hover {
								opacity: 0.72;
							}

							&:active {
								scale: 0.9;
							}

							&-active {
								opacity: 1;
							}

							.ani-tabs-tab-btn {
								display: flex;
								align-items: center;

								.ani-tabs-tab-icon {
									display: flex;
									margin-right: 4px;
									font-size: 14px;
								}
							}
						}

						.ani-tabs-ink-bar {
							display: none;
						}
					}
				}

				.ani-tabs-content-holder {
					display: none;
				}
			}
		}
	}
}
