._local {
	:global {
		.header_wrap {
			margin-bottom: 12px;

			.setting_title {
				margin-bottom: 0;
			}

			.tab_items {
				font-size: 12px;
				gap: 12px;

				.tab_item {
					opacity: 0.48;
					gap: 4px;

					&.active {
						opacity: 1;
					}
				}
			}
		}
	}
}
