._local {
	padding: 12px 0;
	border-bottom: var(--border_soft);

	.setting_icon {
		margin-right: 16px;
	}

	.title {
		line-height: 1;
		font-weight: 500;
	}

	.desc {
		margin-top: 2px;
		margin-bottom: -2px;
		color: var(--color_text_grey);
		font-size: 12px;
	}
}
