._local {
	line-height: 1.2;
	padding: 6px 0;
	margin-top: 12px;

	:global {
		.title {
			padding: 8px 10px;
			color: var(--color_text_grey);
		}

		.list_wrap {
			.list_item_wrap {
				padding: 8px 10px;
				border-radius: var(--radius);
				gap: 8px;

				i {
					font-size: 16px;
				}
			}
		}
	}
}
