._local {
	padding: 6px;

	:global {
		.ani-select {
			align-items: center;
			height: unset;

			&:hover {
				.ani-select-arrow {
					.toggle_icon {
						display: none;
					}

					.btn_edit {
						display: flex;
						color: var(--color_text);
					}
				}
			}

			&.ani-select-open {
				.ani-select-selector {
					.ani-select-selection-item {
						.target_wrap {
							.desc {
								opacity: 0.36;
							}
						}
					}
				}
			}

			.ani-select-selector {
				padding: 0;
				background-color: var(--bg_card);

				.ani-select-selection-item {
					.target_wrap {
						line-height: 1;
						padding: 6px 8px;
						gap: 8px;

						.icon_wrap {
							font-size: 21px;
						}

						.right_wrap {
							width: calc(100% - 21px - 8px);
						}

						.name {
							text-transform: capitalize;
							font-weight: 500;
						}

						.desc {
							margin-top: 4px;
							color: var(--color_text_greylight);
							font-size: 12px;
						}
					}
				}
			}

			.ani-select-arrow {
				z-index: 10;
				top: unset;
				right: 8px;
				padding: 2px;
				margin-top: unset;
				inset-inline-start: unset;
				user-select: unset;
				vertical-align: unset;
				pointer-events: unset;
				aspect-ratio: 1;

				.suffix_icon {
					margin-inline-end: 0;
					border-radius: 50%;

					&:hover {
						outline: var(--border);
						outline-offset: 3px;
						background-color: unset;
					}
				}

				.btn_edit {
					display: none;
				}
			}
		}
	}
}

.popup {
	padding: 4px;

	:global {
		.rc-virtual-list {
			.rc-virtual-list-holder-inner {
				gap: 0;
			}
		}

		.ani-select-item-option {
			padding: 0;

			&.ani-select-item-option-active {
				background-color: unset;

				.workspace_item {
					background-color: var(--bg_hover);
				}
			}
		}

		.workspace_item {
			padding: 4px 10px;
			border-radius: var(--radius);
			text-transform: capitalize;

			.left_wrap {
				width: calc(100% - 18px);
				gap: 8px;

				.icon_wrap {
					font-size: 15px;
				}

				.name {
					width: calc(100% - 15px -8px);
				}
			}
		}
	}
}

.edit_wrap {
	:global {
		.tips_wrap {
			color: var(--color_text_grey);
			gap: 4px;
		}
	}
}
