._local {
	min-height: 100vh;
	padding-top: 36px;

	:global {
		.icon_wrap {
			max-width: 300px;
			font-size: 180px;
		}

		.small_container_wrap {
			font-family: var(--font_serif);
			font-size: 18px;

			&.has_date {
				h1 {
					margin-block-start: 12px;
				}
			}

			h1 {
				margin-bottom: 1.2em;
				text-align: center;
			}
		}
	}
}

.not_found {
	:global {
		.icon_wrap {
			max-width: 300px;
			font-size: 180px;
		}
	}
}
