._local {
	:global {
		.workspace_items {
			margin-bottom: 16px;
			gap: 4px;

			.workspace_item {
				height: 32px;
				gap: 4px;

				.btn {
					width: 30px;
					height: 30px;
					border: 1px solid transparent;
					border-radius: var(--radius);
					background-color: var(--bg_component);
					font-size: 16px;
				}

				.icon_wrap {
					font-size: 16px;
				}

				.input_name {
					width: calc(100% - 96px - 12px);
					height: 32px;
				}
			}
		}

		.actions_wrap {
			gap: 8px;

			.btn_save {
				background-color: var(--bg_component);
			}
		}
	}
}
