.ani-message {
	top: initial !important;
	bottom: 0px !important;

	.ani-message-notice-wrapper {
		.ani-message-notice {
			padding: 0 !important;
			margin-top: -8px;
			text-align: right !important;

			.ani-message-notice-content {
				padding: 3px 6px;
				border-radius: 4px;
				outline: var(--border);
				background-color: var(--color_bg_1);
				font-size: 12px;

				.ani-message-custom-content {
					display: flex;
					align-items: center;

					.ani-icon {
						margin-inline-end: 4px;
						font-size: 12px;
					}
				}
			}
		}
	}
}
