._local {
	padding: 0 36px;

	:global {
		.heading {
			margin: 0;
			text-align: center;
			font-family: var(--font_serif);
		}

		.slogan {
			line-height: 1;
			margin-bottom: 15px;
			font-size: 81px;
			font-weight: 600;
		}

		.desc {
			width: 400px;
			line-height: 1.32;
			margin-bottom: 36px;
			font-size: 24px;
			font-weight: 500;
		}

		.brand_wrap {
			bottom: 90px;

			.name {
				line-height: 1;
				font-size: 21px;
				font-weight: 500;
				margin-block: 0;
			}
		}
	}
}

@media (max-width: 720px) {
	._local {
		:global {
			.slogan {
				width: 360px;
				font-size: 48px;
			}

			.desc {
				width: 270px;
				font-size: 16px;
			}

			.brand_wrap {
				bottom: 60px;

				.name {
					font-size: 18px;
				}
			}
		}
	}
}
