._local {
	line-height: 1;

	:global {
		.slogan_wrap {
			max-width: 720px;
			margin-bottom: 48px;

			.slogan {
				line-height: 1.2;
				margin: 0;
				text-align: center;
				letter-spacing: 2px;
				font-family: var(--font_serif);
				font-size: 72px;
				font-weight: 600;
			}
		}

		.name {
			font-size: 21px;
			font-weight: 500;
			margin-block: 0;
		}
	}
}

@media (max-width: 720px) {
	._local {
		padding: 0 60px;

		:global {
			.slogan_wrap {
				width: 240px;

				.slogan {
					line-height: 1.32;
					font-size: 60px;
				}
			}

			.name {
				font-size: 18px;
			}
		}
	}
}
