._local {
	padding: 0 36px;

	:global {
		.heading {
			margin: 0;
			text-align: center;
			font-family: var(--font_serif);
		}

		.slogan {
			line-height: 1;
			margin-bottom: 15px;
			letter-spacing: 2px;
			font-size: 81px;
			font-weight: 600;
		}

		.desc {
			width: 420px;
			line-height: 1.32;
			margin-bottom: 36px;
			font-size: 27px;
			font-weight: 500;
		}

		.name {
			line-height: 1;
			font-size: 21px;
			font-weight: 500;
			margin-block: 0;
		}
	}
}

@media (max-width: 720px) {
	._local {
		:global {
			.slogan {
				width: 300px;
				line-height: 1.11;
				font-size: 60px;
			}

			.desc {
				width: 360px;
				font-size: 21px;
			}

			.name {
				font-size: 18px;
			}
		}
	}
}
