._local {
	:global {
		.text_wrap {
			height: 26px;
			line-height: 26px;
			padding: 0 7px;
			border: var(--border);
			border-radius: var(--radius);
		}
	}
}

.popup {
	:global {
		.ani-select-item {
			padding: 3px 9px !important;
		}
	}
}
