._local {
	:global {
		.body_wrap {
			overflow-y: scroll;
			height: calc(100% - 36px);
			padding: 0 6px;

			.list_title {
				padding: 2px 8px;
				margin-top: 18px;
				color: var(--color_text_grey);
			}
		}
	}
}
