/** IBMPlexSans */
@font-face {
	font-family: 'IBMPlexSans';
	font-style: normal;
	src:
		local('IBMPlexSans'),
		url('../font/IBMPlexSans/IBMPlexSans.ttf') format('truetype');
}
@font-face {
	font-family: 'IBMPlexSans';
	font-style: italic;
	src:
		local('IBMPlexSans'),
		url('../font/IBMPlexSans/IBMPlexSans-Italic.ttf') format('truetype');
}

/** STIXTwoText */
@font-face {
	font-family: 'STIXTwoText';
	font-style: normal;
	src:
		local('STIXTwoText'),
		url('../font/STIXTwoText/STIXTwoText.ttf') format('truetype');

	descent-override: 6%;
}
@font-face {
	font-family: 'STIXTwoText';
	font-style: italic;
	src:
		local('STIXTwoText'),
		url('../font/STIXTwoText/STIXTwoText-Italic.ttf') format('truetype');

	descent-override: 6%;
}

/** Tektur */
@font-face {
	font-family: 'Tektur';
	font-style: normal;
	src:
		local('Tektur'),
		url('../font/Tektur.ttf') format('truetype');

	descent-override: 24%;
}
