._local {
	z-index: 999;
	top: 18px;
	right: 18px;
	font-size: 18px;

	&.visible {
		padding-bottom: 12px;
		padding-left: 12px;
		backdrop-filter: var(--blur);
	}

	:global {
		.btn_wrap {
			opacity: 0;
			transition: opacity ease 0.3s;
			backdrop-filter: var(--blur);

			&.visible {
				opacity: 1;
			}
		}

		.menu_items {
			line-height: 1;
			padding-right: 3px;
			margin-top: 15px;
			opacity: 0;
			transition: opacity ease 0.3s;
			font-family: var(--font_serif);
			font-size: 14px;
			pointer-events: none;
			gap: 12px;

			&.visible {
				opacity: 1;
				pointer-events: unset;
			}

			.menu_item {
				color: var(--color_text);
				text-align: end;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
