._local {
	min-height: 100vh;
	padding-bottom: 120px;

	:global {
		.header_wrap {
			margin: 72px 0;

			.title {
				line-height: 1;
				margin: 0;
				margin-bottom: 15px;
				font-size: 48px;
				font-weight: 600;
			}

			.desc {
				line-height: 1;
				margin: 0;
				font-size: 21px;
				font-weight: 500;
			}
		}

		.blog_items {
			font-family: var(--font_serif);
			font-size: 18px;

			.blog_item {
				padding: 6px 2px;
				border-bottom: var(--border_light);
				color: var(--color_text);

				&:hover {
					border-color: var(--color_text);
				}

				.title {
					font-weight: 500;
				}

				.date {
					color: var(--color_text_greylight);
				}
			}
		}
	}
}
