._local {
	height: 24px;

	&:global(.ani-select-open) {
		:global {
			.ani-select-arrow {
				opacity: 0.3;
			}
		}
	}

	:global {
		.ani-select-selector {
			padding: 0 6px;
			margin-right: 0;
			color: var(--color_text_grey);
			font-family: var(--font_serif);

			.ani-select-selection-search {
				padding: 0;
			}

			.ani-select-selection-item {
				padding-right: 16px;
			}
		}

		.ani-select-arrow {
			right: 6px;
			color: var(--color_text_grey);
			font-size: 14px;
		}
	}
}

.popup {
	font-family: var(--font_serif);
}
