._local {
	padding: 15px 18px;
	padding-left: 0;
	margin-block-start: calc(var(--editor_padding_y) * 1.5);
	margin-block-end: calc(var(--editor_padding_y) * 1.5);
	border: 1px solid var(--color_text_light);
	border-radius: var(--radius_small);
	font-size: 12px;

	&:hover {
		:global {
			.btn_copy {
				opacity: 1;
			}
		}
	}

	:global {
		.lang {
			z-index: 10;
			top: 12px;
			right: 12px;
			line-height: 1;
			color: var(--color_text_light);
		}

		.btn_copy {
			z-index: 10;
			top: 12px;
			right: 12px;
			width: 24px;
			height: 24px;
			line-height: 1;
			padding: 0;
			border-radius: var(--radius_small);
			outline: none;
			opacity: 0;
			background-color: transparent;
			background-color: var(--color_bg);
			transition-property: opacity;
			font-size: 15px;

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.line_numbers_wrap {
			display: flex;
			flex-direction: column;
			width: 30px;
			margin-right: 12px;
			user-select: none;

			.line_number {
				display: inline-block;
				width: 100%;
				color: var(--color_text_light);
				text-align: right;
			}
		}

		.pre_code_wrap {
			overflow-x: scroll;
			width: calc(100% - 42px);
			margin: 0;
		}
	}
}
